@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center mt-5">
    <h1 class="display-4">خوش آمدید</h1>
    <p class="lead">سامانه هوشمند نوبت‌دهی معاینه فنی خودرو</p>
    <hr />
    <div class="mt-4">
        <a asp-page="/AppointmentRequestAgg/Create" class="btn btn-primary btn-lg">ثبت درخواست نوبت</a>
        <a asp-page="/Operator/Login" class="btn btn-secondary btn-lg">ورود اپراتور</a>
    </div>
</div>